@model webapp.ViewModels.Home.IndexViewModel;
@{
  ViewData["Title"] = "Home";
  Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>
</div>