*,
*::before,
*::after {
  box-sizing: border-box !important;
}

.navbar {
  margin-bottom: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}

footer {
  bottom: auto !important;
}

.title-home {
  font-weight: 500 !important;
  margin-top: 0 !important;
  margin-bottom: 1px !important;
  color: #2d2929 !important;
}

.text-home-muted {
  color: #696868 !important;
  margin-bottom: 3px !important;
  font-weight: 400 !important;
  margin-top: 0 !important;
  font-size: 14px !important;
}

/** MAIN PANEL AREA **/

@media (min-width: 991px) {
  .main-panel {
    -webkit-transition-property: top, bottom, width !important;
    transition-property: top, bottom, width !important;
    -webkit-transition-duration: 0.2s, 0.2s, 0.35s !important;
    transition-duration: 0.2s, 0.2s, 0.35s !important;
    -webkit-transition-timing-function: linear, linear, ease !important;
    transition-timing-function: linear, linear, ease !important;
    -webkit-overflow-scrolling: touch !important;
  }
}

.main-panel {
  position: relative !important;
  float: right !important;
  width: 100% !important;
  min-height: 100vh !important;
  background: #27293d ;
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) !important;
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) !important;
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) !important;
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) !important;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) !important;
}

@media screen and (max-width: 991px) {
  .main-panel {
    width: 100% !important;
  }
}

.main-panel > .content {
  padding: 10px !important;
  min-height: calc(100vh - 70px) !important;
}

@media screen and (max-width: 991px) {
  .content {
    padding-left: 30px !important;
  }
}

/** ROW AREA **/

.row {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: -13px !important;
  margin-left: -15px !important;
  margin-bottom: -20px !important;
}

/** COL AREA **/

.col-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative !important;
  width: 100% !important;
  padding-right: 13px !important;
  padding-left: 15px !important;
}

/** CARD AREA **/

.card-home-title {
  color: #2d2929 !important;
  font-size: 22px !important;
  text-transform: inherit !important;
  font-weight: 400 !important;
  margin-left: -12px !important;
}

.card-home-subtitle {
  margin-top: -0.625rem !important;
  margin-bottom: 0 !important;
}

.card-home-header {
  padding: 1.25rem 1.5rem !important;
  margin-bottom: 0 !important;
  background-color: #f6f9fc !important;
  border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05) !important;
}

.card-home-header:first-child {
  border-radius: calc(0.2857rem - 0.0625rem) calc(0.2857rem - 0.0625rem) 0 0 !important;
}

.card-home-header + .list-group .list-group-item:first-child {
  border-top: 0 !important;
}

.card-home-category {
  text-transform: capitalize !important;
  font-weight: 400 !important;
  color: #2d2929 !important;
  font-size: 15px !important;
  margin-bottom: 5px !important;
}

.card-home-tasks .card-home-body .table-home > thead > tr > th,
.card-home-tasks .card-home-body .table-home > tbody > tr > th,
.card-home-tasks .card-home-body .table-home > tfoot > tr > th,
.card-home-tasks .card-home-body .table-home > thead > tr > td,
.card-home-tasks .card-home-body .table-home > tbody > tr > td,
.card-home-tasks .card-home-body .table-home > tfoot > tr > td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.card-home {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-clip: border-box !important;
  border: 0.0625rem solid rgba(34, 42, 66, 0.05) !important;
  border-radius: 0.2857rem !important;
  background-color: #f4f1f1 !important;
  width: 100% !important;
  margin-bottom: 30px !important;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.35rem !important;
}

.card-home label {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 0.75rem !important;
  margin-bottom: 5px !important;
  }

.card-home .card-home-body {
  padding: 15px !important;
  flex: 1 1 auto !important;
}

.card-home .card-home-body.table-home-full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-home .card-home-header {
  border: 0 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.card-home .card-home-header:not([data-background-color]) {
  background-color: transparent !important;
}

.card-home-header:first-child {
  border-radius: calc(0.2857rem - 0.0625rem) calc(0.2857rem - 0.0625rem) 0 0 !important;
}

@media (max-width: 767.98px) {
  .card-home.card-home-chart
    .card-home-header
    .btn-home-group-toggle
    .tim-icons {
    font-size: 0.875rem !important;
    top: -1px !important;
  }
}

.card-home-chart {
  overflow: hidden !important;
}

.card-home-chart .card-home-body {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.card-home-chart .table-home {
  margin-bottom: 0 !important;
}

.card-home-chart .table-home td {
  border-top: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.card-home-chart .chart-area {
  height: 220px !important;
  width: 100% !important;
}

.card-home-chart.card-home-chart-pie .chart-area {
  padding: 10px 0 25px !important;
  height: auto !important;
}

.card-home-tasks {
  height: 497px !important;
}

.card-home-tasks .card-home-header .title {
  margin-right: 20px !important;
  font-weight: 400 !important;
  color: #2d2929 !important;
  font-size: 16px !important;
}

.card-home-tasks .card-home-header .sub-title {
  color: #696868 !important;
  margin-bottom: 5px !important;
  font-weight: 300 !important;
  font-size: 14px !important;
}

.card-home-tasks .card-home-body i {
  color: #9a9a9a !important;
  font-size: 1.4em !important;
}

.card-home-tasks .card-home-body i:hover {
  color: #2d2929 !important;
}

.card-home-tasks .card-home-body .table {
  margin-bottom: 0 !important;
}

.card-home-tasks .card-home-body .table > thead > tr > th,
.card-home-tasks .card-home-body .table > tbody > tr > th,
.card-home-tasks .card-home-body .table > tfoot > tr > th,
.card-home-tasks .card-home-body .table > thead > tr > td,
.card-home-tasks .card-home-body .table > tbody > tr > td,
.card-home-tasks .card-home-body .table > tfoot > tr > td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.card-home-tasks .table-home-full-width {
  max-height: 435px !important;
  position: relative !important;
}

.card-home-tasks .card-home-header .dropdown {
  float: right !important;
  color: #cccccc !important;
}

/** BTN AREA **/

.btn-home-primary {
  color: #ffffff !important;
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.btn-home-primary:hover {
  color: #ffffff !important;
  background-color: #db2dc0 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-primary:focus,
.btn-home-primary.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(230, 105, 210, 0.5) !important;
}

.btn-home-primary.disabled,
.btn-home-primary:disabled {
  color: #ffffff !important;
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-primary:not(:disabled):not(.disabled):active,
.btn-home-primary:not(:disabled):not(.disabled).active {
  color: #ffffff !important;
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-primary:not(:disabled):not(.disabled):active:focus,
.btn-home-primary:not(:disabled):not(.disabled).active:focus:focus {
  box-shadow: 0 0 0 0 rgba(230, 105, 210, 0.5) !important;
}

.btn-home-outline-primary {
  color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-outline-primary:hover {
  color: #2d2929 !important;
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-outline-primary:focus,
.btn-home-outline-primary.focus {
  box-shadow: 0 0 0 0 rgba(225, 78, 202, 0.5) !important;
}

.btn-home-outline-primary.disabled,
.btn-home-outline-primary:disabled {
  color: #1f8ef1 !important;
  background-color: transparent !important;
}

.btn-home-outline-primary:not(:disabled):not(.disabled):active,
.btn-home-outline-primary:not(:disabled):not(.disabled).active {
  color: #2d2929 !important;
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-home-outline-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0 rgba(225, 78, 202, 0.5) !important;
}

.btn-home-link {
  font-weight: 400 !important;
  color: #1f8ef1 !important;
  text-decoration: none !important;
}

.btn-home-link:hover {
  color: #c221a9 !important;
  text-decoration: none !important;
}

.btn-home-link:focus,
.btn-home-link.focus {
  text-decoration: none !important;
  box-shadow: none !important;
}

.btn-home-link:disabled,
.btn-home-link.disabled {
  color: #6c757d !important;
  pointer-events: none !important;
}

.btn-home-sm,
.btn-home-group-sm > .btn {
  padding: 5px 15px !important;
  font-size: 0.75rem !important;
  line-height: 1.35 !important;
  border-radius: 0.25rem !important;
}

.btn-home-group,
.btn-home-group-vertical {
  position: relative !important;
  display: inline-flex !important;
  vertical-align: middle !important;
}

.btn-home-group > .btn,
.btn-home-group-vertical > .btn {
  position: relative !important;
  flex: 1 1 auto !important;
}

.btn-home-group > .btn:hover,
.btn-home-group-vertical > .btn:hover {
  z-index: 1 !important;
}

.btn-home-group > .btn:focus,
.btn-home-group > .btn:active,
.btn-home-group > .btn.active,
.btn-home-group-vertical > .btn:focus,
.btn-home-group-vertical > .btn:active,
.btn-home-group-vertical > .btn.active {
  z-index: 1 !important;
}

.btn-home-group > .btn:not(:first-child),
.btn-home-group > .btn-home-group:not(:first-child) {
  margin-left: -1px !important;
}

.btn-home-group > .btn-home-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-home-group > .btn:not(:first-child),
.btn-home-group > .btn-home-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
-split-split {
  padding-right: 11.25px !important;
  padding-left: 11.25px !important;
}
-split-split {
  padding-right: 36px !important;
  padding-left: 36px !important;
}

.btn-home-link {
  box-shadow: none !important;
}

.btn-home-group-vertical {
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
}

.btn-home-group-vertical > .btn,
.btn-home-group-vertical > .btn-home-group {
  width: 100% !important;
}

.btn-home-group-vertical > .btn:not(:first-child),
.btn-home-group-vertical > .btn-home-group:not(:first-child) {
  margin-top: -1px !important;
}

.btn-home-group-vertical > .btn-home-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-home-group-vertical > .btn:not(:first-child),
.btn-home-group-vertical > .btn-home-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-home-group-toggle > .btn,
.btn-home-group-toggle > .btn-home-group > .btn {
  margin-bottom: 0 !important;
}

.btn-home-group-toggle > .btn input[type="radio"],
.btn-home-group-toggle > .btn input[type="checkbox"],
.btn-home-group-toggle > .btn-home-group > .btn input[type="radio"],
.btn-home-group-toggle > .btn-home-group > .btn input[type="checkbox"] {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  pointer-events: none !important;
}

.btn.btn-home-link {
  color: #344675 !important;
}

.btn.btn-home-link:hover,
.btn.btn-home-link:focus,
.btn.btn-home-link:active {
  background-color: transparent !important;
  background-image: none !important;
  color: #2d2929 !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.btn:hover,
.btn:focus {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  outline: 0 !important;
}

.btn:active,
.btn.active {
  box-shadow: none !important;
  outline: 0 !important;
}

.btn.btn-home-icon {
  height: 2.375rem !important;
  min-width: 2.375rem !important;
  width: 2.375rem !important;
  padding: 0 !important;
  font-size: 0.9375rem !important;
  overflow: hidden !important;
  position: relative !important;
  line-height: normal !important;
}

.btn.btn-home-icon.btn-home-simple.btn {
  padding: 0 !important;
}

.btn.btn-home-icon.btn-home-sm,
.btn-home-group-sm > .btn.btn-home-icon {
  height: 1.875rem !important;
  min-width: 1.875rem !important;
  width: 1.875rem !important;
}

.btn.btn-home-icon.btn-home-sm .fa,
.btn-home-group-sm > .btn.btn-home-icon .fa,
.btn.btn-home-icon.btn-home-sm .far,
.btn-home-group-sm > .btn.btn-home-icon .far,
.btn.btn-home-icon.btn-home-sm .fas,
.btn-home-group-sm > .btn.btn-home-icon .fas,
.btn.btn-home-icon.btn-home-sm .tim-icons,
.btn-home-group-sm > .btn.btn-home-icon .tim-icons {
  font-size: 0.6875rem !important;
}

.btn.btn-home-icon.btn-home-lg,
.btn-home-group-lg > .btn.btn-home-icon {
  height: 3.6rem !important;
  min-width: 3.6rem !important;
  width: 3.6rem !important;
}

.btn.btn-home-icon.btn-home-lg .fa,
.btn-home-group-lg > .btn.btn-home-icon .fa,
.btn.btn-home-icon.btn-home-lg .far,
.btn-home-group-lg > .btn.btn-home-icon .far,
.btn.btn-home-icon.btn-home-lg .fas,
.btn-home-group-lg > .btn.btn-home-icon .fas,
.btn.btn-home-icon.btn-home-lg .tim-icons,
.btn-home-group-lg > .btn.btn-home-icon .tim-icons {
  font-size: 1.325rem !important;
}

.btn.btn-home-icon:not(.btn-home-footer) .tim-icons,
.btn.btn-home-icon:not(.btn-home-footer) .fa,
.btn.btn-home-icon:not(.btn-home-footer) .far,
.btn.btn-home-icon:not(.btn-home-footer) .fas {
  position: absolute !important;
  font-size: 1em !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-12px, -12px) !important;
  line-height: 1.5626rem !important;
  width: 24px !important;
}

.btn:not(.btn-home-icon) .tim-icons {
  position: relative !important;
  top: 1px !important;
}

.btn-home-primary {
  background: #1f8ef1 !important;
  background-image: -webkit-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -o-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -moz-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-size: 210% 210% !important;
  background-position: top right !important;
  background-color: #1f8ef1 !important;
  transition: all 0.15s ease !important;
  box-shadow: none !important;
  color: #ffffff !important;
}

.btn-home-primary.animation-on-hover:hover {
  background-position: bottom left !important;
  transition: 0.3s ease-in-out !important;
}

.btn-home-primary:hover,
.btn-home-primary:focus,
.btn-home-primary:active,
.btn-home-primary.active,
.btn-home-primary:active:focus,
.btn-home-primary:active:hover,
.btn-home-primary.active:focus,
.btn-home-primary.active:hover {
  background-color: #1f8ef1 !important;
  background-image: linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -webkit-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -o-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -moz-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.btn-home-primary:active {
  box-shadow: none !important;
  transform: translateY(1px) !important;
  transition: all 0.15s ease !important;
}

.btn-home-primary:not([data-action]):hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-1px) !important;
  -webkit-transform: translateY(-1px) !important;
}

.btn-home-primary.disabled,
.btn-home-primary.disabled:hover,
.btn-home-primary.disabled:focus,
.btn-home-primary.disabled.focus,
.btn-home-primary.disabled:active,
.btn-home-primary.disabled.active,
.btn-home-primary:disabled,
.btn-home-primary:disabled:hover,
.btn-home-primary:disabled:focus,
.btn-home-primary:disabled.focus,
.btn-home-primary:disabled:active,
.btn-home-primary:disabled.active,
.btn-home-primary[disabled],
.btn-home-primary[disabled]:hover,
.btn-home-primary[disabled]:focus,
.btn-home-primary[disabled].focus,
.btn-home-primary[disabled]:active,
.btn-home-primary[disabled].active {
  background-color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
}

.btn-home-primary.btn-home-simple {
  color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
  background: transparent !important;
}

.btn-home-primary.btn-home-simple:hover,
.btn-home-primary.btn-home-simple:focus,
.btn-home-primary.btn-home-simple:active,
.btn-home-primary.btn-home-simple:not(:disabled):not(.disabled):active {
  color: #1f8ef1 !important;
  border-color: #1f8ef1 !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
}

.btn-home-primary.btn-home-simple.active {
  border-color: #1f8ef1 !important;
}

.btn-home-primary.btn-home-simple.active:hover,
.btn-home-primary.btn-home-simple.active:focus,
.btn-home-primary.btn-home-simple.active:active,
.btn-home-primary.btn-home-simple.active:not(:disabled):not(.disabled):active {
  color: #ffffff !important;
  border-color: #1f8ef1 !important;
  background-image: linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -webkit-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -o-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-image: -moz-linear-gradient(
    to bottom left,
    #1f8ef1,
    #1f8ef1,
    #1f8ef1
  ) !important;
  background-color: #1f8ef1 !important;
  box-shadow: none !important;
}

.btn-home-primary.btn-home-link {
  color: #1f8ef1 !important;
}

.btn-home-primary.btn-home-link:hover,
.btn-home-primary.btn-home-link:focus,
.btn-home-primary.btn-home-link:active {
  background-color: transparent !important;
  background-image: none !important;
  color: #2d2929 !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.btn:disabled,
.btn[disabled],
.btn.disabled {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
  pointer-events: none !important;
}

.btn-home-simple {
  border: 1px solid !important;
  border-color: #344675 !important;
  box-shadow: none !important;
  padding: 10px 22px !important;
  background-color: transparent !important;
}

.btn-home-simple.disabled,
.btn-home-simple.disabled:hover,
.btn-home-simple.disabled:focus,
.btn-home-simple.disabled.focus,
.btn-home-simple.disabled:active,
.btn-home-simple.disabled.active,
.btn-home-simple:disabled,
.btn-home-simple:disabled:hover,
.btn-home-simple:disabled:focus,
.btn-home-simple:disabled.focus,
.btn-home-simple:disabled:active,
.btn-home-simple:disabled.active,
.btn-home-simple[disabled],
.btn-home-simple[disabled]:hover,
.btn-home-simple[disabled]:focus,
.btn-home-simple[disabled].focus,
.btn-home-simple[disabled]:active,
.btn-home-simple[disabled].active,
.btn-home-link.disabled,
.btn-home-link.disabled:hover,
.btn-home-link.disabled:focus,
.btn-home-link.disabled.focus,
.btn-home-link.disabled:active,
.btn-home-link.disabled.active,
.btn-home-link:disabled,
.btn-home-link:disabled:hover,
.btn-home-link:disabled:focus,
.btn-home-link:disabled.focus,
.btn-home-link:disabled:active,
.btn-home-link:disabled.active,
.btn-home-link[disabled],
.btn-home-link[disabled]:hover,
.btn-home-link[disabled]:focus,
.btn-home-link[disabled].focus,
.btn-home-link[disabled]:active,
.btn-home-link[disabled].active {
  background: transparent !important;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
}

.btn-home-link {
  border: 0 !important;
  box-shadow: none !important;
  padding: 0.5rem 0.7rem !important;
  background: transparent !important;
  color: #2d2929 !important;
  font-weight: 600 !important;
}

.btn-home-link:hover {
  box-shadow: none !important;
  transform: none !important;
}

.btn-home-lg,
.btn-home-group-lg > .btn {
  font-size: 0.875rem !important;
  border-radius: 0.4285rem !important;
  padding: 15px 48px !important;
}

.btn-home-lg.btn-home-simple,
.btn-home-group-lg > .btn-home-simple.btn {
  padding: 14px 47px !important;
}

.btn-home-sm,
.btn-home-group-sm > .btn {
  font-size: 0.875rem !important;
  border-radius: 0.2857rem !important;
  padding: 5px 15px !important;
}

.btn-home-sm.btn-home-simple,
.btn-home-group-sm > .btn-home-simple.btn {
  padding: 4px 14px !important;
}

.btn-home-wd {
  min-width: 140px !important;
}

.btn-home-group.select {
  width: 100% !important;
}

.btn-home-group .btn.active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-1px) !important;
  -webkit-transform: translateY(-1px) !important;
}

.btn-home-group.select .btn {
  text-align: left !important;
}

.btn-home-group.select .caret {
  position: absolute !important;
  top: 50% !important;
  margin-top: -1px !important;
  right: 8px !important;
}

.btn-home-group .btn.active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) !important;
  transform: translateY(-1px) !important;
  -webkit-transform: translateY(-1px) !important;
}

.btn-home-round {
  border-width: 1px !important;
  border-radius: 30px !important;
}

.btn-home-round.btn-home-simple {
  padding: 10px 22px !important;
}
::after {
  display: none !important;
}

.btn-home-secondary:not(:disabled):not(.disabled):active,
.btn-home-secondary:not(:disabled):not(.disabled).active {
  color: #2d2929 !important;
}

.btn-home-group label.btn.active {
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
}

.btn-home-default:not(.btn-home-fill) {
  border-color: #dddddd !important;
}

/** TABLE AREA **/

.table-home {
  width: 100% !important;
  margin-bottom: 1rem !important;
  color: #525f7f !important;
  background-color: transparent !important;
}

.table-home th,
.table-home td {
  padding: 1rem !important;
  vertical-align: top !important;
  border-top: 0.0625rem solid #e3e3e3 !important;
}

.table-home thead th {
  vertical-align: bottom !important;
  border-bottom: 0.125rem solid #e3e3e3 !important;
}

.table-home tbody + tbody {
  border-top: 0.125rem solid #e3e3e3 !important;
}

.table-home-sm th,
.table-home-sm td {
  padding: 0.3rem !important;
}

.table-home-bordered {
  border: 0.0625rem solid #e3e3e3 !important;
}

.table-home-bordered th,
.table-home-bordered td {
  border: 0.0625rem solid #e3e3e3 !important;
}

.table-home-bordered thead th,
.table-home-bordered thead td {
  border-bottom-width: 0.125rem !important;
}

.table-home-borderless th,
.table-home-borderless td,
.table-home-borderless thead th,
.table-home-borderless tbody + tbody {
  border: 0 !important;
}

.table-home-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(34, 42, 66, 0.05) !important;
}

.table-home-hover tbody tr:hover {
  color: #525f7f !important;
  background-color: rgba(34, 42, 66, 0.075) !important;
}

@media (max-width: 575.98px) {
  .table-home-responsive-sm {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .table-home-responsive-sm > .table-home-bordered {
    border: 0 !important;
  }
}

@media (max-width: 767.98px) {
  .table-home-responsive-md {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .table-home-responsive-md > .table-home-bordered {
    border: 0 !important;
  }
}

@media (max-width: 991.98px) {
  .table-home-responsive-lg {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .table-home-responsive-lg > .table-home-bordered {
    border: 0 !important;
  }
}

@media (max-width: 1199.98px) {
  .table-home-responsive-xl {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .table-home-responsive-xl > .table-home-bordered {
    border: 0 !important;
  }
}

.table-home-responsive {
  display: block !important;
  width: 100% !important;
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
  padding-bottom: 10px !important;
}

.table-home-responsive > .table-home-bordered {
  border: 0 !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  .table-home {
    border-collapse: collapse !important;
  }

  .table-home td,
  .table-home th {
    background-color: #ffffff !important;
  }
}

.table-home > tbody > tr > td {
  color: #2d2929 !important;
}

.table-home > thead > tr > th {
  border-bottom-width: 1px !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  border: 0 !important;
  color: #2d2929 !important;
}

.table-home > thead > tr > th,
.table-home > tbody > tr > th,
.table-home > tfoot > tr > th,
.table-home > thead > tr > td,
.table-home > tbody > tr > td,
.table-home > tfoot > tr > td {
  border-color: #c6bfbf !important;
  padding: 12px 7px !important;
  vertical-align: middle !important;
}

.table-home > tbody > tr {
  position: relative !important;
}

.table-home > tfoot > tr {
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase !important;
}
