/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  font-family: sans-serif !important;
  line-height: 1.15 !important;
  -webkit-text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: rgba(34, 42, 66, 0) !important;
}

body {
  margin: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  background: #fafafa !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: black !important;
  text-align: left !important;
  -webkit-font-smoothing: antialiased !important;
  display: block !important;
  overflow-x: hidden !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #fafafa;
}

::-webkit-scrollbar-thumb
{
  /* background: #17a2b8; */
  background: #a7a6a4;
}